<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="exampleModalLongTitle">Solution Details</h5>
      <button type="button" (click)="modal.dismiss()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <label for="solution">How was the problem solved?</label>
      <textarea #solutionString id="solution" class="form-control" type="text" placeholder="Notes" style="height:100px"
                required ></textarea>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-primary" (click)="SaveSolution(solutionString.value)">Save
        changes
      </button>
    </div>

  </div>
</ng-template>
