img{
 margin: 1.5%;
}

.selector{
  margin:2%
}

#problem-form{
  margin-left:15%;
  margin-top:3%;
}

.spacer{margin-left: 2%; }
.select-size{
  width:180px;
}

.vertical-space{
  margin-top:2%;
}

.pointer{
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #000000;
  }

.dropdown:hover .dropdown-content {
  display: block;
  }